ion-content{
    --background:#472C2C;
   // align-content: center;   
    
}

img {
    margin-top: 70px;
    width: 187px;
    height: 117px;
}

.col-espacio{
    margin-top: -4%;
}

.ion-text-center{
    margin-top: 2%;
}


.form {
    margin-top: 10%;
    margin-left: 7%;
    margin-right: 7%;
    
    ion-label {
        color: #ffffff; 
    }
   
    ion-input{
            
        margin-top: 10px;
       
        height: 54px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 99px #0000000D;
        border-radius: 20px;
        opacity: 1;
    }

    ion-icon {
        color: #939191;
        margin-left: 10px;
        width: 25px;
        height: 25px;        
        opacity: .5;
    }
    ion-row{
        margin-top: 10px;
    }
    
}

  a {
    color: #ffffff; 
    }


    
    ion-button  {
        margin-top: 50px;
        width: 99%;
        height: 60px;    
        --border-radius: 8px;
        opacity: 1; 
        --background:#C87F64; 
        font-weight: 900;
        text-transform: none;  
    }

    .btn_entrar {
        margin-top: 9px;        
        height: 54px;        
        --border-radius: 20px; 
        --opacity: 2;
        --background:#55A020;
        font-weight: 900;
        text-transform: none;
    }


  