h2 {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    font-weight:bold;    
    color:#4E160C; 
}

ion-col{
    margin: 0px;
}

img{
    width: 100%;
    display: inline-block;
    vertical-align: middle;    
}
ion-content {
    --background:#c87f641a;
    
}

