
<ion-content>
  <div class="ion-text-center"> 
    <img class="logo" src="assets/img/logo.png">
  </div>
  
        

<ion-grid class="ion-text-center form">
   <!--nombre-->
  
   <ion-row>
    <ion-col col-12 class="ion-text-start">
      <ion-label>Nombre</ion-label>
      <ion-input type="" name="password" 
          required=""><ion-icon class="ion-icon2" name="person-sharp"></ion-icon>
      </ion-input>            
    </ion-col>
  </ion-row>
  
    <ion-row>
      <ion-col col-12 class="ion-text-start">            
              <ion-label>Correo</ion-label>
              <ion-input type="email" name="email" 
                  required><ion-icon class="ion-icon2" name="mail-sharp"></ion-icon></ion-input>                             
      </ion-col>
    </ion-row>    
    
    <!--boton localozacion-->
    <ion-row class="ion-text-center">
        <ion-col col-12>
            <ion-button class="btn_localizacion " type="submit" fill="outline" > <ion-icon class="icon-con" name="location-sharp"></ion-icon>Activa tu localización</ion-button>
        </ion-col>
    </ion-row>

 
    <!--ir a registrar-->
 
  
</ion-grid >
<ion-grid>
  <ion-row>
    <ion-col col-12>
        <ion-button style="font-size: 18px;">Registrar</ion-button>
    </ion-col>
  </ion-row>
  
  <ion-row>
      <ion-col col-12 class="ion-text-center">
          <a>
              Si aun no tiene una cuenta
          </a>
      </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
